<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @nurse.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @nurse.last_name %>
</p>


<%= link_to 'Edit', edit_nurse_path(@nurse) %> |
<%= link_to 'Back', nurses_path %>
